.container-fluid {
  display: flex;
  border-radius: 20px;
}

.info-container {
  padding: 7px 20px;
}

.info-container h2 {
  color: lightcoral;
}

.img-container {
  width: 150px;
  height: 180px;
}

.img-container .avatar {
  width: inherit;
  height: inherit;
}

@media (max-width: 480px) {
  .info-container h2 {
    font-size: 1.5rem;
  }

  .info-container h3 {
    font-size: 1.25rem;
  }
}

@media (max-width: 380px) {
  .container-fluid {
    padding: 0;
  }

  .info-container {
    padding: 0;
    padding-left: 18px;
    padding-bottom: 10px;
  }

  .info-container h2 {
    font-size: 1rem;
  }

  .info-container h3 {
    font-size: 0.8rem;
  }
}
